.center p{
    text-align: center;
    font-size: 2rem;
    text-indent: 0em;
}
.container-fluid {
    margin-top: 10rem;
}
#form {
    color: white;
    width: 100%;
    padding-right: 25%;
    padding-left: 25%;
    margin: 0px;
}
.form-control {
    display: inline;
}
form {
    padding-right: 25%;
    padding-left: 25%;
}
.row {
    display: inline;
}